:root {
    --primary-brand: #4D5AE5;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent:#E7E9FC;
    --light: #F4F4FD;
}

body { 
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

/* logo */

.header-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
}

.header-logo-web {
    color: var(--primary-brand);
}

.header-logo-studio {
    color: var(--dark);
}



