:root {
    --primary-brand: #4D5AE5;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent:#E7E9FC;
    --light: #F4F4FD;
}

.header-logo {
}
.header-logo-web {
}
.header-logo-studio {
}
.navigation-list {
}
.navigation-item {
}
.navigation-link {
}
.cotacts-list {
}
.cotacts-item {
}
.contacts-link {
}
.hero {
}
.hero-header {
}
.hero-button {
}
.principles {
}
.principles-header {
}
.principles-list {
}
.principles-item {
}
.principles-item-header {
}
.principles-item-paragraph {
}
.services {
}
.services-header {
}
.services-list {
}
.services-item {
}
.team-header {
}
.team-list {
}
.team-item {
}
.team-item-header {
}
.team-item-paragraph {
}
.footer-logo {
}
.footer-logo-web {
}
.footer-logo-studio {
}
.footer-paragraph {
}



